/* Color Palette
whitesmoke  - section baclground
black - text/letter color
#D1D4C9 - main background 
#3887BE - header and footer
*/

/* Global styles 
------------------------------------*/
body {
    background: whitesmoke;
}


/* Header & Footer 
------------------------------------*/
header{
    background: #29435C ;
}
footer{
    background: #29435C;
}

/* Work Experience
------------------------------------*/

.work{
    background: #3887BE;
}

/* Education
------------------------------------*/
.education{
    background: #D1D4C9;
}
